.u-section-1 .u-sheet-1 {
  min-height: 1291px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 68px 304px 0 375px;
}

.u-section-1 .u-search-1 {
  width: 269px;
  min-height: 34px;
  margin: 26px 84px 0 auto;
}

.u-section-1 .u-search-icon-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-search-input-1 {
  font-size: 0.625rem;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  margin: 19px 238px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  margin: -29px auto 0 237px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1rem;
  margin: -37px auto 0 420px;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-size: 1.125rem;
  margin: -37px 413px 0 auto;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  margin: 21px auto 0 68px;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 343px;
}

.u-section-1 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: -195px 61px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 200px;
  height: 200px;
  margin: -200px 329px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 200px;
  height: 200px;
  margin: 57px 61px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 200px;
  height: 200px;
  margin: -200px 332px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 340px;
}

.u-section-1 .u-image-8 {
  width: 200px;
  height: 200px;
  margin: -204px auto 0 68px;
}

.u-section-1 .u-image-9 {
  width: 200px;
  height: 200px;
  margin: 61px 52px 0 auto;
}

.u-section-1 .u-image-10 {
  width: 200px;
  height: 200px;
  margin: -200px 332px 0 auto;
}

.u-section-1 .u-image-11 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 340px;
}

.u-section-1 .u-image-12 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 68px;
}

.u-section-1 .u-shape-1 {
  width: 88px;
  height: 60px;
  margin: 62px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 90px;
  height: 53px;
  margin: -44px auto 0 62px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -69px 57px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 20px;
  height: 20px;
  margin: 61px 200px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -22px 26px 60px 966px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1542px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 104px;
    margin-right: 233px;
    margin-left: 275px;
  }

  .u-section-1 .u-search-1 {
    height: auto;
    margin-top: 8px;
    margin-right: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -28px;
  }

  .u-section-1 .u-btn-3 {
    border-style: none none solid;
    font-size: 1.125rem;
    margin-top: -29px;
    margin-right: 366px;
    margin-left: auto;
    padding: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -28px;
    margin-right: auto;
    margin-left: 378px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 527px;
    margin-right: 349px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: 79px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -442px;
    margin-right: auto;
    margin-left: 112px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -447px;
    margin-right: 87px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 42px;
    margin-right: 79px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -442px;
    margin-right: auto;
    margin-left: 112px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 289px;
    margin-left: 112px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -447px;
    margin-right: 349px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-top: 302px;
    margin-right: auto;
    margin-left: 109px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -944px;
    margin-right: 349px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 544px;
    margin-right: 79px;
    margin-left: auto;
  }

  .u-section-1 .u-image-12 {
    margin-right: 352px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 47px;
    margin-left: 109px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -34px;
    margin-left: 141px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -49px;
    margin-right: 8px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 42px;
    margin-right: 180px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -24px;
    margin-right: 0;
    margin-left: 792px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-1 .u-text-1 {
    width: 461px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-search-1 {
    min-height: 46px;
    margin-top: 20px;
    margin-right: 34px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 57px;
    margin-right: 106px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -29px;
    margin-left: 106px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -28px;
    margin-right: auto;
    margin-left: 293px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -29px;
    margin-right: 211px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 749px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -667px;
    margin-right: 22px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -422px;
    margin-right: 254px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -200px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -205px;
    margin-right: 27px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 27px;
    margin-right: 247px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: 25px;
    margin-left: 31px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -425px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 267px;
    margin-right: 247px;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: -200px;
    margin-right: 22px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -445px;
    margin-right: 22px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -195px;
    margin-right: 247px;
  }

  .u-section-1 .u-shape-1 {
    width: 101px;
    height: 56px;
    margin-top: 285px;
    margin-left: 40px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -41px;
    margin-left: 70px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -73px;
    margin-right: 22px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 22px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-2 {
    margin: -22px 16px 27px 556px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 290px;
    margin-top: 38px;
  }

  .u-section-1 .u-search-1 {
    width: 199px;
    min-height: 34px;
    margin-top: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 51px;
    margin-right: 45px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 35px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 195px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -28px;
    margin-right: 141px;
  }

  .u-section-1 .u-image-1 {
    width: 130px;
    height: 126px;
    margin-top: 317px;
    margin-right: 45px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 147px;
    height: 126px;
    margin-top: -126px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-1 .u-image-3 {
    width: 126px;
    height: 119px;
    margin-top: 36px;
    margin-right: 45px;
  }

  .u-section-1 .u-image-4 {
    width: 129px;
    height: 129px;
    margin-top: -434px;
    margin-right: 45px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    width: 147px;
    height: 117px;
    margin-top: -273px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-1 .u-image-6 {
    width: 129px;
    height: 117px;
    margin-top: -117px;
    margin-right: 45px;
  }

  .u-section-1 .u-image-7 {
    width: 137px;
    height: 126px;
    margin-top: 181px;
    margin-right: 196px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    width: 147px;
    height: 129px;
    margin-top: -279px;
  }

  .u-section-1 .u-image-9 {
    width: 138px;
    height: 118px;
    margin-top: -273px;
    margin-right: auto;
  }

  .u-section-1 .u-image-10 {
    width: 138px;
    height: 129px;
    margin-top: 27px;
    margin-right: 196px;
  }

  .u-section-1 .u-image-11 {
    width: 137px;
    height: 120px;
    margin-top: 186px;
    margin-right: 196px;
  }

  .u-section-1 .u-image-12 {
    width: 147px;
    height: 119px;
    margin-top: -119px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-1 .u-shape-1 {
    width: 86px;
    height: 47px;
    margin-top: 45px;
    margin-left: 31px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -31px;
    margin-left: 52px;
  }

  .u-section-1 .u-btn-5 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 0px;
    margin-top: -47px;
    margin-right: 42px;
    padding: 9px 10px;
  }

  .u-section-1 .u-shape-3 {
    width: 23px;
    height: 24px;
    margin-top: 73px;
    margin-right: 173px;
  }

  .u-section-1 .u-text-2 {
    margin: -24px 0 25px 392px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-text-1 {
    width: 155px;
    font-size: 1.5rem;
    margin-top: 75px;
  }

  .u-section-1 .u-search-1 {
    width: 140px;
    min-height: 32px;
    margin-top: 25px;
    margin-right: 12px;
  }

  .u-section-1 .u-search-icon-1 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 19px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -23px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: -22px;
    margin-right: 84px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
    margin-top: -23px;
    margin-right: auto;
    margin-left: 98px;
  }

  .u-section-1 .u-image-1 {
    width: 99px;
    height: 99px;
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    width: 103px;
    height: 94px;
    margin-top: 131px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 103px;
    height: 96px;
    margin-top: -207px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 103px;
    height: 96px;
    margin-top: -96px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 98px;
    height: 96px;
    margin-top: -96px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    width: 103px;
    height: 94px;
    margin-top: 17px;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 98px;
    height: 103px;
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    width: 103px;
    height: 98px;
    margin-top: -444px;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    width: 103px;
    height: 99px;
    margin-top: -99px;
    margin-right: 0;
  }

  .u-section-1 .u-image-10 {
    width: 103px;
    height: 103px;
    margin-top: 243px;
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    width: 101px;
    height: 94px;
    margin-top: -214px;
    margin-right: auto;
  }

  .u-section-1 .u-image-12 {
    width: 103px;
    height: 103px;
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 38px;
    height: 27px;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 39px;
    height: 27px;
    margin-top: -17px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -43px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 15px;
    height: 14px;
    animation-duration: 1000ms;
    margin-top: 21px;
    margin-right: 88px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin: -12px 12px 18px 261px;
  }
}.sectt2 {
display:none;
}